flask==2.3.2
torch==2.0.1
torchvision==0.15.2
albumentations==1.3.0
tqdm==4.65.0
tensorflow==2.12.0
args==0.1.0
wget==3.2
theano==1.0.5
nltk==3.8.1

#change np.distutils.__config__.blas_opt_info to np.distutils.__config__.blas_ilp64_opt_info in theano package